language: php
php:
  - "7.3"
  - "7.4"
  - "8.0"
matrix:
  fast_finish: true
  allow_failures:
    - php: "hhvm"
install:
  - composer install
script:
  - mkdir -p build/logs
  - phpunit --coverage-clover build/logs/clover.xml
after_success:
  - travis_retry php vendor/bin/php-coveralls -v